body { margin: 0px;
       padding: 0px;
       background-color: #eae5e5;
       font-family: 'Roboto Slab', serif;
       color: black; }

nav {     padding: 5px;
         text-align: center;
         color: white;
         font-family: 'Roboto Slab', serif;
         background-color: #22b4ff;
     }

nav a { text-decoration:none;
     color: white;
         font-family: 'Roboto Slab', serif; 
     }

 nav a:hover { color: blue;
               text-decoration:none; }
.col-sm-12 { margin: 0px;
              padding: 0px;
              width: 100%; }

/*skills section starts*/

.skill_section { background: #eae5e5;
                 width: 100%;
                 padding: 50px 0; }
  
.skill_container { width: 960px;
                   margin: 0 auto; }  

.skill_title { text-align: center;
               font-family: 'Roboto Slab', serif; }


#html_bar { background-color: #22b4ff;
              width: 95%; }

#js_bar { background-color: #22b4ff;
           width: 80%; }


#jq_bar { background-color: #22b4ff;
           width: 80%; }


#php_bar { background-color: #22b4ff;
           width: 75%; }


#lavarel_bar { background-color: #22b4ff;
               width: 75%; }

#boots_bar { background-color: #22b4ff;
           width: 100%; }

#ps_bar { background-color: #22b4ff;
           width: 85%; }


/*skills section ends*/

/*work section*/
 
.service_box a {
	text-decoration:none;
     color: #22b4ff;
         font-family: 'Roboto Slab', serif; 
} 
.service_box a:hover { color: blue; }
hr {
    max-width: 50px;
    border-width: 3px;
    border-color: gray;
}



